<h2>Animal Records</h2>


<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Age</th>
    <th></th>
    <th>Species</th>
    <th></th>
    <th>Adoptable</th>
    <th></th>
    <th>Admissions Date</th>
    <th></th>
    <th>Owner ID</th>
  </tr>
  <% for animal in @animals %>
  <tr>
    <td><%= animal.name %></td>
    <td>|</td>
    <td><%= animal.age %></td>
    <td>|</td>
    <td><%= animal.species %></td>
    <td>|</td>
    <td><%= animal.adoptable %></td>
    <td>|</td>
    <td><%= animal.admission_date %></td>
    <td>|</td>
    <td><%= animal.owner_id %></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
